/* TRANSPARENCIA DA TELA QUANDO DESABILITADA.*/
.x-item-disabled .x-form-item-label, .x-item-disabled .x-form-trigger, .x-panel, .x-item-disabled .x-form-item-label-text 
    {
     filter: alpha(opacity=100);
     opacity: 1;
     color: black;
     background: none;
    }
   
.x-item-disabled .x-mask {
                           background: none;
                           opacity: 100%;
                          }


/* MEU CODIGO PARA OS CAMPOS E FORMS DE DADOS */

/* Caixa dos campos */
.x-form-field {
               border-radius: 3px;
               /*color: #1874CD;*/
               color: #000;
               font: bold 14px calibri !important;
               /*box-shadow: inset 0 0 1em #DCDCDC;*/
               }

/* Texto dos campos */
.x-form-text {
              border: 1px groove inset rgba(204,225,229,0.17);
              /*background: -webkit-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);*/
              /*background-image:url("files/images/fundo8.jpg");*/               
              /*background-image:url("files/images/fundoficha1.png");*/               
              /*color: #0099FF;*/
             }

/* Label dos campos */            
.x-form-item-label-text {
                         color: #000;                          
                         font: bold 12px ms sans serif !important;
                        }
                        
/* Check box e Radio Group */                        
.x-form-cb-label {
                  font: bold 12px calibri !important;
                  /*color: #0099FF;*/
                  color: black;
                  border-radius:3px;
                 }
                 
/* Titulos dos Groups */
.x-fieldset-header-text {
                         font: bold 12px calibri !important;
                         color: blue;
                        }
                        
.x-form-table {
               border-radius:3px;
               border: thick groove outset;            
               /*background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);*/
               color:#000000;              
              }
              
/* Linhas do grid */              
.x-grid-cell {
              font: bold 12px calibri !important;
             }              

.Ficha {
        /*background-image:url("files/images/main-bg.gif");*/        
        /*background-image:url("files/images/fundoficha1.png");*/
        /*background-image:url("files/images/FundoMenu2.png");*/
        /*background-image:url("files/images/Textura03.png");*/
        /*background-image:url("files/images/FundoFicha2.png");*/
        /*background-image:url("files/images/main-bg.gif");*/
        background-image:url("files/images/fundoficha6.png");
       
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);        
        border-radius: 5px;
        border-width: 4px solid black;
        /*opacity : .96;*/               
        }
        
.Grupo {
        /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
        /*background: -webkit-linear-gradient(top, rgba(224,224,224,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%);*/              
        text-font: bold 22px calibri !important;
        border-radius: 3px;
        /*border-width: 1px;*/
        /*border-style: inset;*/
        /*border-color: #000000;*/
        /*border-color: gray;*/
        }
        
/* Panel simplificado */        
.CaixaSimples {
        border-radius:5px;
        border: 1px solid silver;
        text-font: bold 8px calibri !important;
        }
        
.CaixaCirculo {
        border-radius: 50%;
        overflow: hidden;
        transition: 0.3s ease;
        box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);        
        }

.CaixaLog {
           border-radius: 5px 25px;
           overflow: hidden;
           transition: .5s ease;
           box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.19);
           opacity: .93;               
          }
        
.Pasta {
        box-sizing: content-box;
        /*background-image:url("files/images/6b709766.png");*/
        background-image:url("files/images/fundopasta1.png");
        /*box-shadow: 0 0 .2em #343434, 0 0 1.5em #343434, 0 0 .2em #343434;*/
       }

.Fundo {
        /*box-sizing: content-box;*/
        /*background: no-repeat center center;*/
        background-image: url("files/images/porto1.png");
        /*background-size: cover;*/
        /*box-shadow: 0 0 .2em #343434, 0 0 1.5em #343434, 0 0 .2em #343434;*/
        /*border: none;*/
       }

.Titulo {
        /*box-sizing: content-box;*/
        background-origin: padding-box;
        background-clip: border-box;
        background-size: auto auto;
        background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);
        /*box-shadow: 0 0 .1em #343434, 0 0 1em #004d80, 0 0 .1em #343434;*/
        text-shadow: 0 0 .1em #343434, 0 0 1em #004d80, 0 0 .1em #343434;
       }
       
.nav {
      border-radius:5px;
      border: 1px solid silver;
      opacity : 0.7;               
      text-font: bold 8;
      px calibri !important;
     }

/* DBLOOKUP Combo */       
.myList .x-boundlist-item {
        color: green;
        font-size: 14px;
        font-family: sans-serif;
         }       

.BotaoCor {
           background:#1E90FF !important;
           border:none;
           border-color:none;
           webkit-transition: background 0.5s ease-in-out;
          }  

.BotaoDegrade {
               background-image:url("files/images/fundo8.jpg");        
               box-shadow: 0 0 .1em #343434, 0 0 1.em #343434, 0 0 .1em #343434;
               text-font: bold 12px tahoma !important;
              }

/* Aqui ira determina a COR DE Fundo do menu */
.x-treelist-nav {                      
    background-image:url("files/images/fundomenu_Peq.png");
    background-size: auto auto;
    background-position: 24px 0% !important;
    padding: 0 0 0 0;
    borde:none ;
    overflow: auto !important;
    scrollbar-width: thin;             /*estilo do scrool para o mozilla  */
    scrollbar-color: #adb3b8 #516579;  /*estilo do scrool para o mozilla  */
}

.x-treelist-nav::-webkit-scrollbar {
                                    width: 7px; 
                                    height:100px; 
                                    background:#516579;
                                   }

.x-treelist-nav::-webkit-scrollbar-track {
            background: rgba(0,0,0,0.1);
           }

.x-treelist-nav::-webkit-scrollbar-thumb {
            border-radius: 7px; 
            height: 7px; 
            background: #adb3b8;
           }

 .x-treelist-nav .x-treelist-item-text {
           color: #FF8C00; 
           /*color: #7EC0EE;*/
           margin-left: 24px;    /* espaçamento da esquerda para direita dos Itens do menu */
           margin-right: 0px;    /* espaçamento da esquerda para direita dos Grupos do menu */
           font: 14px Arial !important;
           height: 35px;
           padding: 10px 10px; 
           text-shadow: 2px 2px #1C1C1C;           
           }

.x-treelist-nav .x-treelist-item-icon:before, .x-treelist-nav .x-treelist-item-tool:before, .x-treelist-nav .x-treelist-item-expander {
    line-height: 34px;   /* 44 é o padrao */
  }

/* Barra Principal */
.BarraPrincipal {
                 /*border: 1px solid silver;*/
                 /*text-font: bold 8px calibri !important;*/
                 background-color: #4f5e6b !important;
                }
